/* Buttons */

.gitlab-button {
  cursor: pointer;
  transition: background-color 100ms linear, border-color 100ms linear, color 100ms linear, box-shadow 100ms linear;
}

.gitlab-button-secondary {
  background: none #fafafa;
  margin: 0 .5rem;
  /* needs to be applied within the app & scripts */
  border: 1px solid #e3e3e3;
}

.gitlab-button-secondary:hover {
  background-color: #f0f0f0;
  border-color: #e3e3e3;
  color: #2e2e2e;
}

.gitlab-button-secondary:active {
  color: #2e2e2e;
  background-color: #e1e1e1;
  border-color: #dadada;
}

.gitlab-button-success:hover {
  color: #fff;
  background-color: #137e3f;
  border-color: #127339;
}

.gitlab-button-success:active {
  background-color: #168f48;
  border-color: #12753a;
  color: #fff;
}

.gitlab-button-success {
  background-color: #1aaa55;
  border: 1px solid #168f48;
  color: #fff;
}

.gitlab-link-button {
  border: none;
  cursor: pointer;
  padding: 0 .15rem;
}
