/*
  Most CSS should be applied using the utilites in utilities.css.
  This file contains exceptions, usually because they have comlpex selectors
  or require out-of-grid or otherwise unorthodox values.
 */

#gitlab-collapse > * {
  pointer-events: none;
}
