/* Borders */
.gl-border-none {
  border: none !important;
}

.gl-border-gray-200 {
  border-color: #dfdfdf !important;
}

.gl-border-solid {
  border-style: solid !important;
}

.gl-border-w-1 {
  border-width: 1px !important;
}

.gl-border-r-1 {
  border-radius: 4px !important;
}

/* Cursors */

.gl-pointer {
  cursor: pointer !important;
}

/* Colors */

.gl-gray-900 {
  color: #2e2e2e !important;
}

.gl-gray-700 {
  color: #707070 !important;
}

.gl-blue-600 {
  color: #1b69b6 !important;
}

/* Colors: Background */

.gl-bkg-white {
  background-color: #fafafa !important;
}

/* Layout & Position */

.gl-fixed {
  position: fixed !important;
}

.gl-bottom-3 {
  bottom: 1rem !important;
}

.gl-right-3 {
  right: 1rem !important;
}


.gl-display-none {
  display: none !important;
}

.gl-inline-block {
  display: inline-block !important;
}

.gl-flex {
  display: flex !important;
}

.gl-flex-column {
  flex-direction: column !important;
}

.gl-flex-row-reverse {
  flex-direction: row-reverse !important;
}

.gl-align-baseline {
  align-items: baseline !important;
}

.gl-align-self-center {
  align-self: center !important;
}

.gl-overflow-auto {
  overflow: auto !important;
}

.gl-z-top {
  /* toolbar should always be on top */
  z-index: 9999 !important;
}

/* Spacing: Padding & Margin */
/* 0:0, 1: .25rem / 4px, 2: .5rem / 8px, 3: 1rem / 16px, 6: 2.5rem / 40px, 8: 3.5rem / 56px, max: 22rem / 352px */
.gl-m-0 {
  margin: 0 !important;
}

.gl-mb-0 {
  margin-bottom: 0 !important;
}

.gl-mb-1 {
  margin-bottom: .25rem !important;
}

.gl-mb-2 {
  margin-bottom: .5rem !important;
}

.gl-mt-2 {
  margin-top: .5rem !important;
}

.gl-ml-3 {
  margin-left: 1rem !important;
}

.gl-p-1 {
  padding: .25rem !important;
}

.gl-p-2 {
  padding: .5rem !important;
}

.gl-p-3 {
  padding: 1rem !important;
}

.gl-px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.gl-px-1 {
  padding-left: .25rem !important;
  padding-right: .25rem !important;
}

.gl-py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.gl-py-05 {
  padding-top: .1rem !important;
  padding-bottom: .1rem !important;
}

.gl-py-1 {
  padding-top: .25rem !important;
  padding-bottom: .25rem !important;
}

/* Spacing: Height */

.gl-h-5 {
  height: 2rem !important;
}

.gl-max-h-8 {
  max-height: 3.5rem !important;
}

.gl-max-h-34 {
  max-height: 17rem !important;
}

.gl-max-h-max {
  max-height: 22rem !important;
}

.gl-min-h-5 {
  min-height: 2rem !important;
}

/* Spacing: Width */

.gl-w-5 {
  width: 2rem !important;
}

.gl-w-100p {
  width: 100% !important;
}

.gl-max-w-8 {
  max-width: 3.5rem !important;
}

.gl-max-w-34 {
  max-width: 17rem !important;
}

.gl-max-w-max {
  max-width: 22rem !important;
}

/* Typography */

.gl-text-base {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji' !important;
  font-size: .8rem !important;
  font-weight: 400 !important;
  line-height: 1.2rem !important;
}

.gl-text-small {
  font-size: .7rem !important;
  line-height: 1rem !important;
}

.gl-text-heavy {
  font-weight: 600 !important;
}

.gl-no-underline {
  text-decoration: none !important;
}

.gl-underline-hover {
  text-decoration: none !important;
}

.gl-underline-hover:hover {
  text-decoration: underline !important;
}
